@charset "utf-8";
@media(max-width: 769px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #upperGroup {
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: clamp(1.5rem, 7.5vw, 2rem);
        margin-left: 10px;
    }
    #checkListsTableBtn {
        font-size: clamp(0.25rem, 2.5vw, 0.5rem);
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 10px clamp(13px, 2.5vw, 15px);
        margin: 5px;
    }
    #logOutBtn {
        font-size: clamp(0.25rem, 2.5vw, 0.5rem);
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 10px clamp(13px, 2.5vw, 15px);
        margin: 5px;
    }
    .card {
        width: 90%;
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardLower {
        margin-left:5px;
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .item {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
    .cardContainer.notFoundText {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notFoundMessage {
        color: #808080;
    }
}
@media(min-width: 770px) and (max-width: 1023px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 80vw;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #upperGroup {
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: clamp(1.5rem, 7.5vw, 2.5rem);
        margin-left: 10px;
    }
    #checkListsTableBtn {
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 10px;
    }
    #logOutBtn {
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 10px;
    }
    .card {
        width: 580px;
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardLower {
        margin-left:5px;
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .item {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
    .cardContainer.notFoundText {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notFoundMessage {
        color: #808080;
    }
}
@media(min-width: 1024px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 600px;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #upperGroup {
        display: flex;
        justify-content: center;
    }
    #title {
        font-size: clamp(1.5rem, 7.5vw, 2.5rem);
        margin-left: 10px;
    }
    #checkListsTableBtn {
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 10px;
    }
    #logOutBtn {
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        padding: 15px 20px;
        margin: 10px;
    }
    .card {
        width: 580px;
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardLower {
        margin-left:5px;
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .item {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
    .cardContainer.notFoundText {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .notFoundMessage {
        color: #808080;
    }
}