@charset "utf-8";
@media(max-width: 769px){
    body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    }
    #box {
        margin-left: 10px;
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
}
@media(max-width: 1023px){
    body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    }
    #box {
        width: 80vw;
        height: 100vh;
        background-color: white;
    }
}
@media(min-width: 1024px){
    body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    }
    #box {
        width: 600px;
        height: 100vh;
        background-color: white;
    }
    .text {
        margin-left: 10px;
    }
    #userNameText {
        padding: 10px 30px;
    }
}