@charset "utf-8";
@media(max-width: 769px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #title {
        font-size: clamp(1.5rem,7.5vw,2rem);
        margin-left: 10px;
    }
    #keepBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #deleteBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #backBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    .card {
        width: 580px;
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .year {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .month {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .day {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .dataLabel {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .itemNames {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
}
@media(min-width: 770px) and (max-width: 1023px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 80vw;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #title {
        font-size: clamp(1.5rem,7.5vw,2.5rem);
        margin-left: 10px;
    }
    #keepBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #deleteBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #backBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    .card {
        width: 580px;
        background-color: #f5f5f5;
        border: 2px solid #f5f5f5;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .year {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .month {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .day {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .dataLabel {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .itemNames {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
}
@media(min-width: 1024px){
    body {
        background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        margin: 0px 0px;
    }
    #box {
        width: 600px;
        height: 100vh;
        background-color: white;
    }
    #upper {
        display: flex;
        justify-content: space-between;
    }
    #title {
        font-size: clamp(1.5rem,7.5vw,2.5rem);
        margin-left: 10px;
    }
    #keepBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #deleteBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    #backBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    .card {
        width: 580px;
        background-color: #f5f5f5;
        border: 2px 2px 4px;
        box-shadow: 2px 2px 4px;
        border-radius: 5px;
        margin-top: 10px;
        margin-left: 5px;
    }
    .cardUpper {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        border-bottom: 2px solid #d3d3d3;
    }
    .checkListName {
        font-size: clamp(1rem, 7.5vw, 1.5rem);
    }
    .createdAt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .year {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .month {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .day {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
        width: clamp(0.5rem, 7.5vw, 1rem);
    }
    .dataLabel {
        font-size: clamp(0.5rem, 7.5vw, 1rem);
        color: rgba(0,0,0,0.5);
    }
    .cardRow {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #d3d3d3;
    }
    .itemNames {
        /*font-sizeはjavascriptにて決定される。4px以上16px以下*/
        overflow-wrap: anywhere;
        width: 80%;
    }
    .itemCheckBox {
        width: 30px;
        height: 30px;
    }
    .addItemBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    .deleteItemBtn {
        border: none;
        padding: 15px 20px;
        margin: 10px;
    }
    /**
     cardContainerタグの中は下のような構成にする。
 * <div class="cardContainer">
 * <div class="card">
 *   <div class="cardUpper">
 *     <input class="checkListName" value="チェックリスト名"></input>//チェックリスト名の初期値はcheckListの中のcheckListsNameによって決まる。
 *     <div class="createdAt">
 *        <input class="year"></input>
 *        <span class="dataLabel">年</span>
 *        <input class="month"></input>
 *        <span class="dateLabel">月</span>
 *        <input class="day"></input>
 *        <span class="dateLabel">日</span>
 *     </div>//inputタグのyear,month,dayにはそれぞれ初期値が入っている。それらの初期値はcheckListの中のcreatedAtによって決まる。
 *   </div>
 *   <div class="cardLower">
 *     <div class="cardRow">
 *       <input type="text" class="itemNames" value="項目名"></input>//項目名の初期値はcheckListの中のitemNamesによって決まる。
 *       <input type="checkbox" class="itemCheckBox"></input> //チェックが入っているか否かはcheckListの中のisCheckedによって決まる。
 *     </div>
 *                     ・
 * 　　　　　　　　　　　・
 * 　　　　　　　　　　　・
 *   </div>
 * </div>
 * </div>
 */
}