<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>チェックリスト作成画面</title>
    <link rel="stylesheet" href="/css/addCheckListStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div id="box">
    <div id="upper">
        <h1 id="title">チェックリスト新規作成画面</h1>
        <button id="backBtn">
            <span class="material-symbols-outlined">undo</span>
        </button>
    </div>
    <div class="newCheckListContainer">
        <div class="nameColumn">
            <div class="checkListLabel"></div>
            <input class="checkListName"></input>
        </div>
        <div class="createdAtColumn">
            <div class="yearLabel"></div>
            <input class=year type="text"></input>
            <div class="monthLabel"></div>
            <input class="month" type="text"></input>
            <div class="dayLabel"></div>
            <input class="day"></input>
        </div>
        <div class="itemColumns">
        </div>
        <button class="saveBtn">作成</button>
    </div>
    <script src="js/addCheckList/addCheckListJs.js" type="module"></script>
    <script src="js/addCheckList/saveCheckListJs.js" type="module"></script>
</div>
</body>
</html>