<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ホーム画面</title>
        <link rel="stylesheet" href="/css/homeStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="box">
            <div id="upper">
                <div class="upperGroup">
                    <h1 id="title">ホーム画面</h1>
                </div>
                <div class="upperGroup">
                    <button id="checkListsTableBtn">チェックリスト一覧</button>
                    <button id="logOutBtn">ログアウト</button>
                </div>
            </div>
            <div class="cardContainer"></div>
            <script src="/js/Home/HomeCheckListsJs.js"></script>
            <script src="/js/Home/HomeAddCheckListsJs.js"></script>
            <script src="/js/Home/HomeButtonJs.js"></script>
        </div>
    </body>
</html>