<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <link rel="stylesheet" href="/css/loginStyle.css">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="box">
            <h1 id="title">ログイン</h1>
            <div class="text">
                <div class="formGroup">
                    <p class="label">ユーザー名</p>
                    <input id="userNameText" type="text">
                </div>
                <div class="formGroup">
                    <p class="label">パスワード</p>
                    <input id="passwordText" type="text">
                </div>
                <div class="formGroup">
                    <button id="btn" disabled>ログイン</button>
                </div>
                <script src="/js/loginJs.js"></script>
            </div>
        </div>
    </body>
</html>