<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>アカウント新規作成</title>
        <link rel="stylesheet" href="/css/newRegistrationStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="box">
            <h1 id="title">アカウント新規作成</h1>
            <div class="text">
                <div class="formGroup">
                    <p class="label">ユーザー名</p>
                    <input id="userNameText" type="text" placeholder="半角英数字">
                </div>
                <div class="formGroup">
                    <p class="label">パスワード</p>
                    <input id="passwordText" type="text" placeholder="半角英数字8文字以上20字以内">
                    <p class="supplement">半角英字と半角数字それぞれ1文字以上使う</p>
                </div>
                <button id="btn" disabled>アカウント新規作成</button>
                <script src="/js/newRegistrationJs.js"></script>
            </div>
        </div>
    </body>
</html>