<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>チェックリスト 変更画面</title>
        <link rel="stylesheet" href="/css/oneCheckListStyle.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div id="box">
            <div id="upper">
                <div class="upperGroup">
                    <h1 id="title">チェックリスト変更画面</h1>
                </div>
                <div class="upperGroup">
                    <button id="keepBtn">
                        <span class="material-symbols-outlined">save</span>
                    </button>
                </div>
                <div class="upperGroup">
                    <button id="deleteBtn">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
                <div class="upperGroup">
                    <button id="backBtn">
                        <span class="material-symbols-outlined">undo</span>
                    </button>
                </div>
            </div>
            <div class="cardContainer"></div>
            <script src="js/oneCheckList/oneCheckListJs.js" type="module"></script>
            <script src="js/oneCheckList/displayCheckListJs.js" type="module"></script>
            <script src="js/oneCheckList/changeCheckListJs.js" type="module"></script>
        </div>
    </body>
</html>