@charset "utf-8";
.upper {
    display: flex;
    justify-content: space-between;
}
#addBtn {
    font-size: 5rem;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}
.searchGroup {
    margin-left: 50px;
    margin-right: 50px;
}
#search {
    display: flex;
    justify-content: center;
}
#searchName {
    font-size: 1rem;
    height: 25px;
    width: 300px;
}
#yearSearch {
    font-size: 1rem;
    width: 60px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
#monthSearch {
    font-size: 1rem;
    width: 30px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px
}
#daySearch {
    font-size: 1rem;
    width: 30px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
.dateLabel {
    width: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
#dateSearchGroup {
    display: flex;
    justify-content: center;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.card {
    width: 300px;
    background-color: #f5f5f5;
    border: 2px solid #f5f5f5;
    box-shadow: 2px 2px 4px;
    border-radius: 5px;
}
.cardUpper {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    border-bottom: 2px solid #d3d3d3;
}
.checkListName {
    font-size: 12px;
}
.createdAt {
    font-size: 6px;
    color: rgba(0,0,0,0.5);
}
.cardLower {
    margin-left: 5px;
}
.cardRow {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d3d3d3;
}
.item {
    /*font-sizeはjavascriptにて決定される。8px以上12px以下*/
    overflow-wrap: anywhere;
    width: 80%;
}
.isChecked {
    width: 30px;
}